<div class="mx-auto max-w-md p-6 bg-white rounded-lg shadow-md">
  <a href="<%= admin_product_stocks_path(@product) %>" class="text-blue-500 hover:underline mb-4 block">Back to stocks</a>
  <%= render "form", admin_stock: @admin_stock %>
</div>
