<div class="mx-auto max-w-md p-6 bg-white rounded-lg shadow-md">
  <a href="<%= admin_products_path %>" class="text-blue-500 hover:underline mb-4 block">Back to products</a>
  <%= render "form", admin_product: @admin_product %>
</div>
